th{
    font-size: 9px;
    font-weight: 500;
}

.filters_listado_cta_pagar th{
    padding:0px !important;
    font-size: 11px
}

table.dataTable thead {
    background: #2A4C38;
    color:white;
}

table.dataTable tfoot {
    background: #2A4C38;
    color:white;
}

div.dataTables_wrapper div.dataTables_length {
    float: left !important;
}

div.dataTables_wrapper div.dataTables_filter {
    float: right !important;
}

div.dataTables_wrapper div.dataTables_info {
    float: left !important;
}

div.dataTables_wrapper div.dataTables_paginate {
    float: right !important;
}

div.dt-buttons {
    float: left !important;
}

/* tamaño de texto data tables*/
#tabla_listado_cta_pagar thead {
    background: #2A4C38;
    color:white;
}

#tabla_proveedor thead {
    background: #2A4C38;
    color:white;
}

#tabla_producto thead {
    background: #2A4C38;
    color:white;
}

#tabla_tc_cta_pagar_usuario thead {
    background: #2A4C38;
    color:white;
}

#tabla_tc_cta_pagar_sistema thead {
    background: #2A4C38;
    color:white;
}

#tabla_listado_cta_pagar{
    font-size: 12px;
}

#tabla_proveedor{
    font-size: 12px;
}

#tabla_producto{
    font-size: 12px;
}

#tabla_tc_cta_pagar_usuario{
    font-size: 12px;
}

#tabla_tc_cta_pagar_sistema{
    font-size: 12px;
}

.nav-tabs .nav-link.active {
    background-color:#F2F3F5 !important;
    border-color: #dee2e6 #dee2e6 #F2F3F5;
}

.nav-tabs .nav-link {
    border-color: #dee2e6 #dee2e6 #dee2e6;
    background: #f8f9fa;
    color: #bec3bf;

}

/* stylos data tables*/

.page-item.active .page-link {
    background-color: #2A4C38;
    border-color: #2A4C38;
}

.page-link {
    color: #bec3bf;
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    padding: 5px 5px 5px 5px !important;
}

.color-error {
    background-color: #ffff006b !important;
}

/* PARA OCULTAR EL INCREMENTO DEL CAMPO NUMBER
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
