th{
    font-size: 9px;
    font-weight: 500;
}

table.dataTable thead {
    background: #2A4C38;
    color:white;
}

table.dataTable tfoot {
    background: #2A4C38;
    color:white;
}

div.dataTables_wrapper div.dataTables_length {
    float: left !important;
}

div.dataTables_wrapper div.dataTables_filter {
    float: right !important;
}

div.dataTables_wrapper div.dataTables_info {
    float: left !important;
}

div.dataTables_wrapper div.dataTables_paginate {
    float: right !important;
}

div.dt-buttons {
    float: left !important;
}

#tabla_maestro thead {
    background: #2A4C38;
    color:white;
}

#tabla_maestro{
    font-size: 12px;
}

/* stylos data tables*/

.page-item.active .page-link {
    background-color: #2A4C38;
    border-color: #2A4C38;
}

.page-link {
    color: #bec3bf;
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    padding: 5px 5px 5px 5px !important;
}

.color-error {
    background-color: #ffff006b !important;
}